<footer class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light w-100">
  <a class="navbar-brand" href="#">TheChessBoard</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Terms & Conditions</a>
      </li>
    </ul>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Connect with us: </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= fa_stacked_icon "twitter", base: "square-o" %>
          </a>
        </li>  
        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= fa_stacked_icon "instagram", base: "square-o" %>
          </a>
        </li>    
        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= fa_stacked_icon "facebook", base: "square-o" %>
          </a>
        </li>    
      </ul>
    </div> 
  </div>
</footer>